body{
    /*background-image: url(Images/BACKGROUND.png);*/
    background-image:url(Images/IMG_4208\ Small.png);
    background-size: contain;
}

body::-webkit-scrollbar{
    display: none;
  }

.title{
    display: block;
    text-align: center;
}

.info{
    padding-top: 0pt;
    color: white;
    text-shadow: 5px 1px 4px rgb(56, 240, 96);
    font-size: 20pt;
    text-align: center;
}

p{
    color: white;
    text-shadow: 5px 1px 4px rgb(56, 240, 96);
}

.socials{
    display: block;
    text-align: center;
    color: white;
    text-shadow: 5px 1px 4px rgb(56, 240, 96);
}

.click{
    display: block;
    text-align: center;
}


#culture{
    color: white;
    text-shadow: 5px 1px 4px rgb(56, 240, 96);
}

.CPF{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.paintings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.scroll-container {
    /*background-color: #333;*/
    overflow: auto;
    white-space: nowrap;
    /*padding: 10px;*/
  }

div.scroll-container::-webkit-scrollbar{
    display: none;
  }

div.scroll-container img {
    padding: 0px;
  }


.Cray{
    
    padding-top: 10pt;
    padding-bottom: 15pt;
    background-image: url(Gifs/electric.gif);
    background-repeat: repeat-x;
    width: 100%;  
}   

.Absurd{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    overflow: auto;
    white-space: nowrap;
}

.Absurd::-webkit-scrollbar{
    display: none;
  }

.absurd img {
    padding: 0px;
  }

.FOOTER{
    display: block;
    text-align: center;
    color: white;
}