body{
    background-image: url(Images/BACKGROUND.png);
    background-size: contain;
}

.title{
    display: block;
    text-align: center;
}

.info{
    padding-top: 0pt;
    color: white;
    text-shadow: 5px 1px 4px rgb(56, 240, 96);
    font-size: 20pt;
    text-align: center;
}

.socials{
    display: block;
    text-align: center;
    color: white;
    text-shadow: 5px 1px 4px rgb(56, 240, 96);
}

.click{
    display: block;
    text-align: center;
}


#culture{
    color: white;
    text-shadow: 5px 1px 4px rgb(56, 240, 96);
}

.CPF{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Cray{
    
    padding-top: 10pt;
    padding-bottom: 15pt;
    background-image: url(Gifs/electric.gif);
    background-repeat: repeat-x;
    width: 100%;  
}   

.Absurd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.FOOTER{
    display: block;
    text-align: center;
    color: white;
}